body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 50vh;
    width: 80%;
    background-color: #c8d1db;
}

.main {
    padding: 10px;
    background-color: #aaacb4;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #75768e;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}